%text-base {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  pointer-events: none;

  // colour
  background: linear-gradient(
          180deg,
          #ffffff 0%,
          #acd5ff 15%,
          #58a5ed 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textAnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .animatedTextWrapper {
    .textContainer {
      @extend %text-base;
      position: relative;
      display: inline-block;

      .mainText {
        @extend %text-base;
        display: inline-block;
        position: relative;
        z-index: 2;
        transform-origin: center bottom;

        /* Blow it */


        //text-shadow: 1.56px 3.12px 0px #2E31BC, 0px 4px 30px rgba(36, 33, 29, 0.5);

        .overlayText {
          @extend %text-base;
        }

        .blurEffect {
         @extend %text-base;
        }
      }

      .windLineContainer {
        .windLineWrapper {
          .windLines {

          }
        }
      }
    }
  }
}