%text-base {
  font-family: 'ADLaM Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  pointer-events: none;

  // colour
  background: linear-gradient(180deg, #58A5ED 22.5%, #ACD5FF 52.19%, #ACD5FF 75%, #FFFFFF 90.62%);
  //background: linear-gradient(0deg, #58A5ED 12.5%, #ACD5FF 39.19%, #ACD5FF 51.94%, #FFFFFF 90.62%);


  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textAnimationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .animatedTextWrapper {
    .textContainer {
      //@extend %text-base;
      position: relative;
      display: inline-block;

      .mainText {
        @extend %text-base;
        display: inline-block;
        position: relative;
        z-index: 2;
        transform-origin: center bottom;

        animation: mainTextAnim 1300ms forwards infinite;
      }

      .overlayText {
        @extend %text-base;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 333;

        color: transparent;
        text-shadow: 0.2px 0.2px 0 #ACD5FF, 0 4px 30px rgba(36, 33, 29, 0.5);

        pointer-events: none;
        user-select: none;

        animation: overlayTextAnim 1330ms forwards infinite;
      }

      .blurEffect {
        @extend %text-base;
        position: absolute;
        inset: 0;
        color: transparent;
        filter: blur(8px);

        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
        0 0 24px rgba(172, 213, 255, 0.8),
        0 0 40px rgba(88, 165, 237, 0.7);
      }

      .windLineContainer {
        .windLineWrapper {
          .windLines {

          }
        }
      }

      @keyframes mainTextAnim {
        0% {
          opacity: 0;
          transform: translateX(-90px) rotate(1deg);
        }
        10% {
          opacity: 1;
          transform: translateX(-90px) rotate(1deg);
        }
        23% {
          opacity: 1;
          transform: translateX(-7px) rotate(0deg);
          filter: brightness(2);
        }

        35% {
          filter: brightness(1.5);
        }

        90% {
          opacity: 1;
          transform: translate(2px, 0) rotate(0deg);
          filter: brightness(1);
        }
        100% {
          opacity: 0;
          transform: translate(78px, 17px) rotate(-14deg);
        }
      }

      @keyframes overlayTextAnim {
        0% {
          opacity: 0;
          //transform: translateX(-90px) rotate(1deg);
          filter: brightness(1);
        }
        10% {
          opacity: 0;
          //transform: translateX(-90px) rotate(1deg);
        }
        23% {
          opacity: 0.2;
        }
        35% {
          opacity: 0.1;
        }

        70%{
          transform: translateX(0px) rotate(0deg);
        }

        90% {
          opacity: 0.3;
          //transform: translateX(-7px) rotate(0deg);
          transform: translate(4px, 0) rotate(1deg);
        }
        100% {
          opacity: 0;
          transform: translate(68px, 17px) rotate(-14deg);
        }
      }
    }
  }
}