    .explosiveLines {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      --line-width: 14px;
      --line-height: 60px;
      --launch-distance: 30px;
      --start-scale-x: 0.5;
      --end-scale-x: 1;
      --start-scale-y: 0.25;
      --end-scale-y: 0.5;
      --line-half-width: calc(var(--line-width) / 2);


      .lineWrapper {
        --angle: 20deg;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 0;
        height: 0;
        transform: rotate(var(--angle));

        .line {
          position: absolute;
          left: 0;
          top: 10px;
          right: 0;
          bottom: 0;
          width: var(--line-width);
          height: var(--line-height);

          background: linear-gradient(
                  to top,
                  #C4A871,
                  #FFE3AC 40%,
                  rgba(255, 255, 255, 0.9)
          );
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

          transform-origin: 50% 0;

          animation: launchNFadeNZoom 600ms 400ms forwards;

          visibility: hidden;

          @keyframes launchNFadeNZoom {
            0% {
              visibility: hidden;
              opacity: 0;
              transform: translateX(calc(var(--line-half-width) * -1)) translateY(0) scaleX(var(--start-scale-x)) scaleY(var(--start-scale-y));
              animation-timing-function: cubic-bezier(0.4, 0, 0.8, 0.2);
            }

            20% {
              visibility: visible;
              transform: translateX(calc(var(--line-half-width) * -1)) translateY(0) scaleX(var(--start-scale-x)) scaleY(var(--start-scale-y));
              opacity: 1;
            }

            100% {
              transform: translateX(calc(var(--line-half-width) * -1)) translateY(calc(var(--launch-distance) * 1)) scaleX(var(--end-scale-x)) scaleY(var(--end-scale-y));
              opacity: 0;
            }
          }
        }
      }
    }
